apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-trigger
  namespace: churn-prediction
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-trigger
  template:
    metadata:
      labels:
        app: jenkins-trigger
    spec:
      containers:
      - name: trigger
        image: curlimages/curl:latest
        command: ['sh', '-c', 'while true; do sleep 3600; done']
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"